antlr4-python3-runtime==4.13.2
antlr4-tools==0.2.1
asyncio==3.4.3
black==24.10.0
build==1.2.2.post1
click==8.1.7
install-jdk==1.1.0
invoke==2.2.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pip-tools==7.4.1
platformdirs==4.3.6
pyproject_hooks==1.2.0
